@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Добро пожаловать!</h1>
        <p class="lead">Это тестовое задание! Ниже можно выполнить вход или регистрацию. Во вкладке "Администрирование" можно увидеть всех зарегистрированных пользователей. </p>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
<div class="text-center">
    <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Вход</a>
    <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register">Регистрация</a>
</div>
}